/* Generics */
main {
    height: calc(100vh - 70px);
    overflow: auto;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

/* Utils */

.b-black {
    border: 1px dashed black;
}

.h-70px {
    height: 70px;
}

.h-50px {
    height: 50px;
}

.h-250px {
    height: 250px;
}

.w-50px {
    width: 50px;
}

.w-60px {
    width: 60px;
}


.bg-grey {
    background-color: #E5E5E5;
}

.bg-dark-blue {
    background-color: #051E34;
}

.bg-blue {
    background-color: #1B72E8;
}

.b-white-plus {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}

.br-grey {
    background-color: #165BBA;
    border-radius: 10px;
    padding: 0px 5px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.br-50 {
    border-radius: 50%;
}

/* Header */


.main-header a {
    font-weight: 600;
}

.main-header span {
    font-weight: 600;
}

/* Main */

/* Sidebar */

.sidebar {
    background-image: url(./img/sidebar-bg.png);
    padding: 25px 5px;
}


/* Footer */